@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ACME.WEB.Models.ProductViewModel

@{
}

<h1>Price Update</h1>

<hr />

<div>
    <div>
        <form>
            <div>
                <label asp-for="Cost" class="col-md-3 control-label"></label>
                <div>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div>
        <span>@Html.DisplayNameFor(model => model.Id)</span>
        <h3>@Model.Id</h3>
        <span>@Html.DisplayNameFor(model => model.Price)</span>
        <h3>@Model.Price</h3>
        <span>@Html.DisplayNameFor(model => model.Cost)</span>
        <h3>@Model.Cost</h3>
        <span>@Html.DisplayNameFor(model => model.Name)</span>
        <h3>@Model.Name</h3>
        <span>@Html.DisplayNameFor(model => model.Category)</span>
        <h3>@Model.Category</h3>
        <span>@Html.DisplayNameFor(model => model.CreatedDate)</span>
        <h3>@Model.CreatedDate</h3>
    </div>
</div>