@model ACME.WEB.Models.ProductViewModel

<h1>Product Info</h1>

<hr />

<div>
    <div>
        <span>@Html.DisplayNameFor(model => model.Id)</span>
        <h3>@Model.Id</h3>
        <span>@Html.DisplayNameFor(model => model.Price)</span>
        <h3>@Model.Price</h3>
        <span>@Html.DisplayNameFor(model => model.Cost)</span>
        <h3>@Model.Cost</h3>
        <span>@Html.DisplayNameFor(model => model.Name)</span>
        <h3>@Model.Name</h3>
        <span>@Html.DisplayNameFor(model => model.Category)</span>
        <h3>@Model.Category</h3>
        <span>@Html.DisplayNameFor(model => model.CreatedDate)</span>
        <h3>@Model.CreatedDate</h3>
    </div>
</div>